html .home {
	display: flex;
	justify-content: center;
	align-items: center;

	#content {
		background-color: transparent;
	}

	.home-hero {
		min-height: calc(90vh - 200px);
		@media all and (min-width: 800px) {
			padding: 3rem;
		}
		@media all and (min-width: 1200px) {
			padding: 5rem;
		}

		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;

		// background: radial-gradient(circle at center, rgba(0,0,0,.8) 0, transparent 80% );

		h1,
		h2,
		.buttons {
			color: $white;
			text-align: center;
			flex: 1 0 100%;
			line-height: 1.2;
		}
		.buttons {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			padding: 1rem 0;

			@media all and (min-width: 800px) {
				flex-wrap: nowrap;
			}

			a {
				width: 175px;
				margin: 4.5px 1rem;
				border: 1px solid $white;
				padding: 1rem 2rem;
				text-decoration: none;
				color: $white;
				transition: all 0.2s ease-in-out;

				&:hover {
					content: "Articles";
					transition: all 0.2s ease-in-out;
					// background-color: $blue-dark;
					background-color: $blue;
				}
			}
		}
	}
}

// html .home {
// 	.home-hero {
// 		padding: 3rem 0;
// 		background-color: $black;
// 		color: $white;

// 		h2,h3 {
// 			text-align: center;
// 		}
// 		.ml-embedded {
// 			margin-top: 2rem;;
// 		}
// 	}
// }
