.footer-wrapper {
	footer {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 2rem;
		color: white;
		background-color: $blue-dark;
		padding: 1rem 0.5rem;

		@media all and (min-width: 768px) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media all and (min-width: 1024px) {
			grid-template-columns: repeat(3, 1fr);
		}
		@media all and (min-width: 1200px) {
			grid-template-columns: repeat(4, 1fr);
		}
		.footer-biz-data {
			text-align: center;

			& > div,
			.footer-title {
				margin-top: 1rem;
			}

			.footer-title {
				border: 1px solid $white;
			}
		}
	}
}
