.header-wrapper {
	header {
		border-top: 6.2px solid $red-dark;
		// border-bottom: 3.8px solid $red-dark;
		display: grid;
		grid-template-columns: 1fr;
		align-items: center;
		// padding: 1rem 0;
		background-color: $black;
	}
	.site-title {
		// background-color: $black;
		color: $white;
		text-align: center;
	}
}
