// .header-wrapper {
	html .header {
		margin-top: 1rem;
		background-color: $blue-dark;
		border-radius: 5px 5px 0 0;

		@media all and (min-width: 800px) {
			display: flex;
			align-items: center;
		}
	}
// }
