.accordion {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: 0.4s;
}

.active,
.accordion:hover {
	background-color: #ccc;
}

.panel {
	padding: 0 18px;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: all ease 0.2s;
	transition: max-height 0.2s ease-out;
	border: 1px solid #fff;
	border-top-width: 0px;
}
.panel.active {
	border-color: #002244;
	transition: all ease 0.2s;
	transition: max-height 0.2s ease-out;
	//looks like I have to explicitly create a color animation
}

// https://www.w3schools.com/howto/howto_js_accordion.asp
